else
    { Layout = "_UcLayout160"; }
    ViewBag.Title = ViewBag.Header = "サマータイムについて";
}
<p>アメリカでは、サマータイムはデイライトセービングタイム（DST）と呼ばれ、日の長い夏の間、時間を１時間進めて日光を使って電気を節約しようということで、3月の第2日曜日から11月の第1 日曜日までをサマータイムにしています。
    ヨーロッパでは、EUがサマータイムを2021年に廃止する法案を2019年に可決していますが、加盟国の間で協議ができていないため今年（2022年）もサマータイムが実施されると思われます。ヨーロッパでは、3月の最終日曜日から10月の最終日曜日までがサマータイムの期間になっています。</p>
<h2>世界の国のサマータイムの導入状況について</h2>
<p>現在、国連加盟国193カ国のうちサマータイムを実施しているのは、57カ国で全加盟国の1/3以下となっています。最近では、サマータイムにより健康への影響があることや効果が薄くなってきていることからサマータイムを廃止する国が多くなってきています。
<p>最近のサマータイム導入状況の変化は以下のとおりです。</p>
<ul>
    <li>2021年 <a href="/WorldTime/Country/WS">サモア</a>が廃止</li>
    <li>2019年 <a href="/WorldTime/Country/BR">ブラジル</a>が廃止</li>
    <li>2018年 <a href="/WorldTime/Country/MA">モロッコ</a>が廃止</li>
    <li>2017年 <a href="/WorldTime/Country/MN">モンゴル</a>、<a href="/WorldTime/Country/NA">ナミビア</a>、<a href="/WorldTime/Country/TO">トンガ</a>が廃止、<a href="/WorldTime/Country/HT">ハイチ</a>が再開。</li>
    <li>2016年 <a href="/WorldTime/Country/TR">トルコ</a>、<a href="/WorldTime/Country/AZ">アゼルバイジャン</a>及び<a href="/WorldTime/Country/HT">ハイチ</a>が廃止、<a href="/WorldTime/Country/CL">チリ</a>及び<a href="/WorldTime/Country/TO">トンガ</a>が再開。</li>
    <li>2015年 <a href="/WorldTime/Country/MN">モンゴル</a>が実施、<a href="/WorldTime/Country/CL">チリ</a>が1年中サマータイムになり廃止、エジプトが廃止。<a href="/WorldTime/Country/UY">ウルグアイ</a>が廃止</li>
    <li>2014年 <a href="/WorldTime/Country/EG">エジプト</a>が再開、<a href="/WorldTime/Country/RU">ロシア</a>が標準時間に戻る</li>
    <li>2013年 <a href="/WorldTime/Country/LY">リビア</a>がサマータイムを実施したが1年で廃止 </li>
    <li>2012年 <a href="/WorldTime/Country/HT">ハイチ</a>が実施し、<a href="/WorldTime/Country/AM">アルメニア</a>が廃止</li>
    <li>2011年 <a href="/WorldTime/Country/RU">ロシア</a>、<a href="/WorldTime/Country/BY">ベラルーシ</a>が1年中サマータイムになり廃止、<a href="/WorldTime/Country/EG">エジプト</a>が廃止</li>
</ul>
<p>サマータイムを導入している国でも国内の全ての地域でサマータイムを実施しているわけではありません。オーストラリアとブラジルでは州単位で実施するかどうかを決めており半数ぐらいの州が実施をしていません。また、アメリカではアリゾナ州とハワイ州が、カナダではサスカチュワン州等が、メキシコではソノラ州が実施をしていません。</p>
<p><a  rel="external" href="/Images/DaylightSaving-World-Subdivisions5.png"><img id="dsimg" src="/Images/DaylightSaving-World-Subdivisions7.png" alt="世界の国のサマータイムの実施状況" /></a></p>
<table border="0">
    <tbody>
        <tr>
            <td class="small" style="background-color: #6050e0; color: white; text-align: center; width: 20px;">青</td>
            <td class="small" style="background-color: #ffffff; padding-right: 15px;">夏時間を実施している</td>
            <td class="small" style="background-color: #ee6809; color: white; text-align: center; width: 20px;">橙</td>
            <td class="small" style="background-color: #ffffff; padding-right: 15px;">過去に夏時間を実施したが現在は行っていない</td>
            <td class="small" style="background-color: #bf0000; color: white; text-align: center; width: 20px;">赤</td>
            <td class="small">夏時間を一度も実施したことがない</td>
        </tr>
    </tbody>
</table>
<div class="small"><span>By Paul Eggert <a href="http://www.creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA-3.0</a>, <a href="http://commons.wikimedia.org/wiki/File:DaylightSaving-World-Subdivisions6.png"> via Wikimedia Commons</a></span></div>
<div class="blogtext"><span><br /> </span></div>
<h2>サマータイムを導入している国連加盟国の一覧</h2>
<p><strong>アジア (6)</strong></p>
<p><a href="/WorldTime/Country/IL">イスラエル</a>、<a href="/WorldTime/Country/IR">イラン</a>、<a href="/WorldTime/Country/CY">キプロス</a>、<a href="/WorldTime/Country/SY">シリア</a>、<a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/JO">ヨルダン</a></p>
<p><strong>アフリカ (0)<br /> </strong></p>
<p><strong>ヨーロッパ (40)<br /> </strong></p>
<p>※<a href="/WorldTime/Country/IS">アイスランド</a>、<a href="/WorldTime/Country/RU">ロシア</a>、<a href="/WorldTime/Country/BY">ベラルーシ</a>を除く国と地域で実施 <strong><br /> </strong></p>
<p>アイルランド、アルバニア、アンドラ、イギリス、イタリア、ウクライナ、エストニア、オーストリア、オランダ、ギリシャ、クロアチア、サンマリノ、スイス、スウェーデン、スペイン、スロバキア、スロベニア、セルビア、チェコ、デンマーク、ドイツ、ノルウェー、ハンガリー、フィンランド、フランス、ブルガリア、ベルギー、ポーランド、ボスニア・ヘルツェゴビナ、ポルトガル、マケドニア、マルタ、モナコ、モルドバ、モンテネグロ、ラトビア、リトアニア、リヒテンシュタイン、ルーマニア、ルクセンブルク</p>
<p><strong>北アメリカ (6)<br /> </strong></p>
<p><a href="/WorldTime/Country/US">アメリカ合衆国</a>（例外あり）、<a href="/WorldTime/Country/CA">カナダ</a>（例外あり）、<a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/HT">ハイチ</a>、<a href="/WorldTime/Country/BS">バハマ</a>、<a href="/WorldTime/Country/MX">メキシコ</a>（例外あり）</p>
<p><strong>南アメリカ (2)<br /> </strong></p>
<p><a href="/WorldTime/Country/PY">パラグアイ</a>、<a href="/WorldTime/CL">チリ</a>（南端部を除く）</p>
<p><strong>オセアニア (3)<br /> </strong></p>
<p><a href="/WorldTime/Country/AU">オーストラリア</a>（南東部のみ）、<a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/FJ">フィジー</a></p>
<p> </p>
<h2><span>日本でのサマータイムの導入についてのメリット及びデメリット<br /> </span></h2>
<p>サマータイムの直接のメリットといのは、強制的に1時間時間を早くすることにより、日没から就寝までの時間を1時間減少させ、照明用の電力の消費量を1時間分減少させることができるということです。しかし、強制的に時間を早くするため、時刻合わせに手間がかかるだけでなく、日没までの時間が遅くなることで生じる影響を考慮する必要があります。低緯度の地域でサマータイムが導入されない理由としては、夏と冬の昼の時間に差が少ないうえに、夕方や夜間になってもエアコンが必要な地域では、照明は不要になっても、家庭でのエアコンの電力消費量が増大するので省エネの効果はなくなってしまいます。</p>
<p>日本において、サマータイムを導入することにメリットがあるかどうかですが、東日本、特に北海道では、ヨーロッパやアメリカに緯度的にも気候的にも近いうえ、もともと日本標準時の子午線の東側にあり日の出の時間も早いことから、導入のメリットは大きいと考えられます。一方、西日本では、緯度の割に夏は非常に蒸し暑く、夜も寝苦しい日が多いので、家庭でのエアコンの消費電力量が増加し、睡眠不足の人が増えるということになり、サマータイムのメリットはないと考えられます。日本では、1948年から1951年にサマータイムが実施されていますが、当時評判がよくなかったというのは、こういうところに原因があると思われます。</p>
<p>最近、東日本大震災と福島第１原子力発電所の事故に伴う電力不足の関係で、サマータイムの効果について２つの試算が公表されています。一つは、電力中央研究所の今中健雄主任研究員によるもので、「サマータイム」の需要削減効果は薄く、７月の平日に２時間営業を早めても削減効果は６２万キロワット、８月の平日に２時間早めても８８万キロワッ トと試算しており、休日シフトの5分の1程度となっています。もう一つは、産業技術総合研究所の研究員によるもので、サマータイムにより、すべての人々が生活時間を1時間前倒しすると、14時の電力需要が抑えられる一方、帰宅によって16時に家庭での電力需要が増加し、業務と住宅を合計した最大電力需要は引き上げられる可能性があるという試算になっています。２つの試算ともに、サマータイムについては、電力需要に関して、あまり効果がないという結論でした。</p>
<p>電気新聞　<a href="http://www.shimbun.denki.or.jp/news/energy/20110420_03.html">輪番休業で８００万ｋｗの需要抑制効果　電中研研究員が試算</a></p>
<p>産業技術総合研究所　 <a href="http://www.aist.go.jp/aist_j/new_research/nr20110621/nr20110621.html"> 夏季における計画停電の影響と空調節電対策の効果を評価</a></p>
