else
    { Layout = "_UcLayout300"; }
    ViewBag.Title = ViewBag.Header = "UTC, GMT, うるう秒について";
}
<h3>うるう秒について</h3>
<p>最近では、2015年の6月30日（火）にうるう秒の挿入がおこなわれました。日本時間では7月1日（水）の午前8時59分59秒と午前9時00分00秒の間に 「8時59分60秒」が挿入されました。これまでに合計26回の挿入が実施されています。次は、2016年の12月31日（土）にうるう秒の挿入がおこなわれます。</p>
<p>どうして「うるう秒」ということがおこなわれるかというと、現在世界標準として使用されている標準時は 協定世界時 (UTC) で、UTC の時間は 国際原子時 (TAI)をベースとしています。一方で、地球の公転・自転の観測に基づく天文時（世界時（UT））があり、UTCは天文時とのずれが0.9秒以内におさまるように調整を行うことが決められています。天文時が遅れた場合にうるう秒が挿入されます。非常に長期的にみると地球の自転はその回転スピードを徐々に落しているため、閏秒の挿入頻度が徐々に増加することが考えられます。</p>
<p>
    なお、閏秒についてはシステムなどのトラブルにつながる可能性もあるため、存廃については国際電気通信連合で議論となっていて、日米をはじめ多くのIT先進国はうるう秒の廃止を提案しました。しかし、2012年1月の総会では2015年の総会まで結論が見送られ、2015年の総会では2023年の総会で検討されることになりました。
</p>
<h3>GMT について</h3>
<p>グリニッジ標準時（GMT）は、かってはグリニッジ天文台・グリニッジ子午線（経度0度）における平均太陽時を指し、1984年の国際子午線の会議で採択されて以降は世界標準時としての役割を果たしていました。しかし、太陽時は正確にいうと時間の長さが変動するため原子時計を基準とした時間が採用されるようになってきました。1964年に旧協定世界時が正式に採用され、1972年以降は現行の協定世界時が採用されています。このことから GMT は、世界標準時としての役割は協定世界時(UTC)に移り、太陽時としては世界時(UT、特にそのうちのUT1)に引き継がれました。GMT という言葉は、依然としてよく使われていますが、世界的な基準としての役割は終わっています。ただし、イギリスの標準時は依然として GMT と呼ばれており日本標準時と同じ地方時として使われています。時間としては、GMT = UTC です。</p>
<h3>UTC, TAI ,UT</h3>
<p>現在世界標準として使用されている標準時は 協定世界時 (UTC) です.UTC は 国際原子時 (TAI)をベースとしており, 太陽時(UT1) にあうように、適時閏秒 (leap second) を加えたものです。TAI は1秒の長さが厳密に決まっているために閏秒はありません。TAI と UTC では現在（2015年7月）で UTC の方が26秒遅れています。</p>
<p> </p>
<h3>時間についての主な略称</h3>
<ul>
    <li>TAI : International Atomic Times (国際原子時)<br />原子時計によって刻まれる時系。1秒が「セシウム133原子の基底状態の2つの超微細準位間の遷移に対応する放射の9 192 631 770周期の継続時間」と定義されている。</li>
    <li>UT : Universal Time (世界時)<br />地球の公転・自転の観測に基づく時間。太陽がちょうど頭上最も高くなる時刻が正午で、IERS という国際機関が決定している。</li>
    <li>UTC : Coordinated Universal Time (協定世界時)</li>
    <li>GMT : Greenwich Mean Time (グリニッジ標準時)</li>
</ul>
<p> </p>
