else
    { Layout = "_UcLayout300"; }
    ViewBag.Title = ViewBag.Header = "世界の時間とタイムゾーンについて";
}
<p><img style="float:right;margin:0 5px;" width="200" height="202" src="/Images/uc/earth.png" />時差ができる理由は地球が丸いからです。地球の片方は太陽の光が当たっていて明るく、反対側は暗くて夜です。地球は自転しているので、太陽の光が当たっている地域はどんどん西へ移動していきます。地球を1周すると、つまり経度が360度違うと時刻が24時間ずれるということは、360÷24＝15、経度が15度違うと1時間ずれることになります。</p>
<p>ずっと昔は太陽時をもとにした地方時が使われていましたが、鉄道網が整備されると国際列車の運行の際に全世界的に標準的な時刻が必要とされはじめました。それで1884年10月13日の国際子午線会議において、グリニッジ天文台を基点とするグリニッジ子午線が本初子午線に採用されてから標準時（タイムゾーン）が整備されてきました。日本では、1886年に明石市がある東経135度を日本標準時子午線にすることに決定しました。そういうことで、日本時間はグリニッジ標準時よりも9時間早い時間を採用することになり、現在までその時間を使い続けています。なお、過去には日本時間より1時間遅い日本西部標準時が、台湾を併合した1896年1月から1937年9月まで存在し、<a href="/WorldTime/Country/TW">台湾</a>の他に沖縄県の八重山地方と宮古地方が西部時間を採用していました。（<a href="http://www.h2.dion.ne.jp/%7Ekazuf/sao/135e/nihonjisa.htm">参考ページ</a>）</p>
<p>標準時の決定は、サマータイムを実施するかどうかを含めて、極めて政治的な問題であるとともに、一方では生活に密着した事であるため、政治的に決定しても民衆からの不満でとりやめになる事もよく生じます。中国のように政治の方が強いと<a href="/WorldTime/Location/Asia/Urumqi">新疆ウィグル自治区</a>では地方時から2時間以上もずれた標準時を使っている地域がありますが、実際の生活の時間も標準時に合わせているのかというと、そうでもないようです。朝の暗い時間に通勤・通学をするのは、やはり無茶なことだと思います。同一国内では、1つの標準時にするのが効率面から考えるとベターなのですが、地方時とのずれが1時間を超えるようになると日常生活に支障が出てくるようになるので国土の広い国では統一は難しいようです。</p>
<h2>世界の時間（タイムゾーン）の一覧</h2>
<p>世界の時間帯（タイムゾーン）を一覧にしてみました。<span class="text_green">全世界の時差は</span>標準時間で計算して以下のとおり39種類あります。Windows のタイムゾーンでは、以前はUTC+8:45、UTC+10:30、UTC+12:45、UTC+14 の4つの時間帯が登録されていなかったのですが、Windows 10 ではすべての時間帯が登録されています。</p>
<p>世界で一番早く日付が変わる場所は、UTC+14 のタイムゾーンあるキリバスのライン諸島です。2011年12月31日以降、サモアは、UTC+13のタイムゾーンへ移行しました。UTC+13のタイムゾーンにありますがサマータイムを導入してるのでサマータイム期間中はライン諸島とともに世界で一番早く日付が変わる場所になりました。そういうことで、2012年以降は世界で一番早く新年を迎える国・地域は、キリバスのライン諸島、サモアということになります。</p>
<p>世界で一番遅く日付が変わる場所は、 UTC-12 のタイムゾーンあるベーカー島、ハウランド島ですが無人島なので、人が住んでいる場所としては、UTC-11 のタイムゾーンあるアメリカ領サモア、ニウエです。サモアは、UTC+13のタイムゾーンに移行したので、アメリカ領サモアとの時差が24時間になりました。サモアとアメリカ領サモアの距離は約120Kmで航空便もあるようなので、年に2回初日の出を見たり誕生日を祝ったりすることも容易にできてしまいます。</p>
<ul>
    <li>UTC-12 ベーカー島、ハウランド島</li>
    <li>UTC-11 アメリカ領サモア、ニウエ</li>
    <li>UTC-10 ハワイ、アリューシャン列島西部</li>
    <li>UTC-9:30 フランス領ポリネシア（マルキーズ諸島）</li>
    <li>UTC-9 アラスカ</li>
    <li>UTC-8 アメリカ・カナダ・メキシコ（太平洋時間）</li>
    <li>UTC-7 アメリカ・カナダ・メキシコ（山岳部時間）</li>
    <li>UTC-6 アメリカ・カナダ・メキシコ（中部時間）、中央アメリカ</li>
    <li>UTC-5 アメリカ・カナダ（東部時間）、キューバ、ペルー</li>
    <li>UTC-4 カナダ（大西洋時間）、小アンティル諸島の大部分、ベネズエラ、ブラジル（アマゾン時間）、チリ</li>
    <li>UTC-3:30 カナダ（ニューファンドランド）</li>
    <li>UTC-3 ブラジル（ブラジル時間）、アルゼンチン、グリーンランド</li>
    <li>UTC-2 ブラジル（フェルナンド・デ・ノローニャ島）</li>
    <li>UTC-1 アゾレス諸島、カーボベルデ</li>
    <li>UTC イギリス、アイルランド、ポルトガル、アイスランド、アフリカ西部のモロッコ、ガーナ等</li>
    <li>UTC+1 中央ヨーロッパ時間（フランス、ドイツ等）、西アフリカ時間（ナイジェリア、コンゴ等）</li>
    <li>UTC+2 東ヨーロッパ時間（フィンランド、ウクライナ、ギリシャ等）、中央アフリカ時間、南アフリカ</li>
    <li>UTC+3 ロシア（モスクワ）、ベラルーシ、サウジアラビア、東アフリカ時間</li>
    <li>UTC+3:30 イラン</li>
    <li>UTC+4 ロシア（サマラ）、アゼルバイジャン、グルジア、アラブ首長国連邦、モーリシャス</li>
    <li>UTC+4:30 アフガニスタン</li>
    <li>UTC+5 ロシア（エカテリンブルグ）、パキスタン</li>
    <li>UTC+5:30 インド</li>
    <li>UTC+5:45 ネパール</li>
    <li>UTC+6 ロシア（オムスク）、カザフスタン、バングラディシュ</li>
    <li>UTC+6:30 ミャンマー、ココス諸島</li>
    <li>UTC+7 ロシア（クラスノヤルスク）、タイ、ベトナム、インドネシア西部時間</li>
    <li>UTC+8 ロシア（イルクーツク）、中国、モンゴル、マレーシア、オーストラリア西部時間</li>
    <li>UTC+8:30 北朝鮮</li>
    <li>UTC+8:45 オーストラリア（ユークラ）</li>
    <li>UTC+9 ロシア（ヤクーツク）、韓国、日本、パラオ</li>
    <li>UTC+9:30 オーストラリア中部時間</li>
    <li>UTC+10 ロシア（ウラジオストク）、グアム、オーストラリア東部時間</li>
    <li>UTC+10:30 オーストラリア（ロード・ハウ島）</li>
    <li>UTC+11 ロシア（マガダン）、ソロモン諸島、ニューカレドニア</li>
    <li>UTC+12 ロシア（カムチャッカ）、ニュージーランド、フィジー、キリバス（ギルバート諸島）</li>
    <li>UTC+12:45 ニュージーランド（チャタム島）</li>
    <li>UTC+13 トンガ、キリバス（フェニックス諸島）、サモア、トケラウ</li>
    <li>UTC+14 キリバス（ライン諸島）</li>
</ul>
<p> </p>
