else
    { Layout = "_UcLayout300"; }
    ViewBag.Title = ViewBag.Header = "タイムゾーンに関する関係リンクについて";
}
<p>この Web ページのタイムゾーンの時間の計算については、タイムゾーン データベース（Time Zone Database ）を使用しています。</p>
<h5>作成にあたって参考にした資料</h5>
<p>Time Zone Database ホームページ<br /> <a href="http://www.iana.org/time-zones">http://www.iana.org/time-zones</a></p>
<p>Sources for Time Zone and Daylight Saving Time Data<br /> <a href="http://www.twinsun.com/tz/tz-link.htm">http://www.twinsun.com/tz/tz-link.htm</a></p>
<p>Timezone index<br /> <a href="http://home.kpn.nl/vanadovv/time/">http://home.kpn.nl/vanadovv/time/</a></p>
<h5>タイムゾーンに関するニュース</h5>
<p><a href="http://news.gmane.org/gmane.comp.time.tz">http://news.gmane.org/gmane.comp.time.tz</a></p>
<p><a href="http://www.worldtimezone.com/dst_news/">http://www.worldtimezone.com/dst_news/</a></p>
<p><a href="http://www.timeanddate.com/news/time/">http://www.timeanddate.com/news/time/</a></p>
<h5>タイムゾーンの地図</h5>
<p><a href="http://www.worldtimezone.com/">WorldTimeZone.com</a></p>
<p><a href="http://upload.wikimedia.org/wikipedia/commons/e/e7/Timezones2008.png"> http://upload.wikimedia.org/wikipedia/commons/e/e7/Timezones2008.png</a></p>
<h5>世界時計</h5>
<p><a href="http://24timezones.com/map_ja.htm">24timezones.com</a></p>
<p><a href="http://www.timeanddate.com/">timeanddate.com</a></p>
<p><a href="http://worldtimeengine.com/">worldtimeengine.com</a></p>
<p><a href="http://www.timegenie.com/">timegenie.com</a></p>
