else
  { Layout = "_UcLayout300"; }
  ViewBag.Title = ViewBag.Header = "タイムゾーンに関するニュースから";
}
<p>
  <a href="http://mm.icann.org/pipermail/tz/">Time zone メーリングリスト</a>、 <a href="http://www.worldtimezone.com/dst_news/">DST New</a>、<a href="http://www.timeanddate.com/news/time/">Time Zone News</a> から、タイムゾーンに関する主なニュースを紹介しています。
</p>
<p><strong>北朝鮮の標準時間が30分早くなります</strong> 2018/5/5</p>
<p><a href="/WorldTime/Country/KP">北朝鮮</a>では、 5月4日の11:30分に時計の針を30分進めて UTC+9:00 のタイムゾーンに戻ります。2015年から韓国より標準時を30分遅らせていましたが、今回南北の標準時を統一するため韓国の標準時に合わせたものです。</p>
<p><strong>オーストラリアなど南半球のサマータイムの終了予定</strong> 2018/2/26</p>
<p>
  オーストラリア等の南半球ではサマータイムが終了する時期になりました。そこで、2017/2018年の南半球のサマータイムの終了日をまとめてみました。なお、<a href="/WorldTime/Country/NA">ナミビア</a>では冬時間に移行せず通年サマータイムになります。
</p>
<ul>
  <li><a href="/WorldTime/Country/FJ">フィジー</a>　1月14日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a>　2月18日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a>　3月25日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a>、<a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a>4月1日 (日)</li>
  <li><a href="/WorldTime/Country/CL">チリ</a>　5月13日 (日)</li>
</ul>
<p><strong>北半球のサマータイムの開始予定 </strong>2018/2/26</p>
<p>北半球ではまもなくサマータイムが始まるので、以下に開始日をまとめておきます。</p>
<ul>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 3月11日(日) 3月第2日曜日 2:00(現地時間)</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/BS">バハマ</a> 3月11日(日)</li>
  <li><a href="/WorldTime/Country/IR">イラン</a> 3月22日（木）</li>
  <li><a href="/WorldTime/Country/IL">イスラエル</a> 3月23日(金)</li>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/CY">キプロス</a>を含む） 3月25日(日) 3月最終日曜日1:00 UTC</li>
  <li><a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/MA">モロッコ</a> 3月25日(日)</li>
  <li><a href="/WorldTime/Country/SY">シリア</a>、<a href="/WorldTime/Country/JO">ヨルダン</a>  3月30日(金)</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 4月1日(日)<br /> ※アメリカとの国境沿いでは3月11日(日)の所があります。</li>
</ul>
<p><strong>ブラジルがサマータイム期間を変更</strong> 2018/2/2</p>
<p>
  <a href="/WorldTime/Country/BR">ブラジル</a>では、2018-2019年のサマータイムからサマータイムの開始日が10月の第3日曜日から11月の第1日曜日に変更されます。
</p>
<p><strong>サントメ・プリンシペがタイムゾーンをUTC+1に変更</strong> 2018/1/18</p>
<p>
  西アフリカのギニア湾に浮かぶ島国である<a href="/WorldTime/Country/ST">サントメ・プリンシペ</a>では、1月1日から時計の針を1時間進めて、GMTからUTC+1の西アフリカ時間（WAT）のタイムゾーンになりました。周辺の国の時間に合わせたのと日暮れが遅くなることによるエネルギーの節約のためのようです。
</p>
<p><strong>北キプロスでサマータイムを再開</strong> 2017/10/20</p>
<p>
  北キプロスでは、昨年トルコに合わせて1年中サマータイムのUTC+3のタイムゾーンを採用したため、<a href="/WorldTime/Country/CY">キプロス島</a>では冬の間は南北で時差が生じるようになっていましたが、今年はサマータイムを復活させて10月29日(日)から冬時間になります。これでキプロス島内では東ヨーロッパ時間で統一され時差は解消されます。
</p>
<p><strong>トンガがサマータイムを廃止する模様</strong> 2017/10/20</p>
<p>
  <a href="/WorldTime/Country/TO">トンガ</a>では、昨季はサマータムを実施しましたが、今季はサマータムを実施しない見込みです。
</p>
<p><strong>スーダンがUTC+2のタイムゾーンに変更</strong> 2017/10/20</p>
<p>
  <a href="/WorldTime/Country/SD">スーダン</a>では、11月1日に現在のUTC+3の東アフリカ時間からUTC+2の中央アフリカ時間に変更される予定です。急遽な変更ですが、理由等はよく分からないようです。ただし、経度からみると、どちらかというとUTC+2のタイムゾーンに位置しています。
</p>
<p><strong>ヨーロッパ、アメリカでまもなくサマータイムが終了します </strong>2017/9/27</p>
<p>
  ヨーロッパでは、10月29日(日）のUTC1:00に一斉にサマータイムが終了します。アメリカ、カナダでは、11月5日(日）の現地時間の2:00にサマータムが終了します。以下に北半球でのサマータイムの終了日の一覧を作成しておきます。
  <ul>
    <li><a href="/WorldTime/Country/IR">イラン</a> 9月22日（金）</li>
    <li><a href="/WorldTime/Country/JO">ヨルダン</a>、<a href="/WorldTime/Country/SY">シリア</a> 10月27日（金）</li>
    <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/CY">キプロス（北キプロスを除く）</a>を含む） 10月29日(日)</li>
    <li><a href="/WorldTime/Country/IL">イスラエル</a>、<a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/MA">モロッコ</a> 10月29日(日)</li>
    <li><a href="/WorldTime/Country/MX">メキシコ</a> 10月29日(日)<br /> ※アメリカとの国境沿いでは11月5日 (日)の所があります。</li>
    <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 11月5日(日) </li>
    <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/BS">バハマ</a>、<a href="/WorldTime/Country/HT">ハイチ</a> 11月5日(日)</li>
  </ul>
<p><strong>タークス・カイコス諸島がサマータイムを再開</strong> 2017/9/27</p>
<p>
  西インド諸島にあるイギリス領の<a href="/WorldTime/Country/TC">タークス・カイコス諸島</a>では、2018年の3月からサマータイムを再開する予定です。2015年にサマータイムを廃止したときは、11月のサマータイム終了日に、時計の針を1時間戻さずに、1年中 UTC-4 のタイムゾーンになったので、今回は、2018年3月のサマータイム開始時には現在の時間のままで、2018年11月のサマータイム終了日に時計の針を1時間戻すようになります。この変更後は、アメリカのニューヨーク等の東部時間と同じ時間になります。
</p>
<p><strong>オーストラリアなど南半球でサマータイムが始まります</strong> 2017/9/20 9/27、10/21修正</p>
<p>
  オーストラリア等の南半球ではサマータイムが開始する時期になりました。そこで、2017-2018年の南半球のサマータイム期間をまとめてみました。<a href="/WorldTime/Country/TO">トンガ</a>は、2016-2017年はサマータイムを実施しましたが、2017-2018年は実施しない見込みです。
</p>
<ul>
  <li><a href="/WorldTime/Country/CL">チリ</a> 8月13日 (日) ～ 5月13日 (日)</li>
  <li><a href="/WorldTime/Country/NA">ナミビア</a> 9月3日 (日) ～ 一年中サマータイム</li>
  <li><a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a> 9月24日 (日) ～ 4月1日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a> 10月1日 (日) ～ 4月1日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a> 10月1日 (日) ～ 3月25日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a> 10月15日 (日) ～ 2月18日 (日)</li>
  <li><a href="/WorldTime/Country/FJ">フィジー</a> 11月5日 (日) ～ 1月14日 (日)</li>
</ul>
<p><strong>ナミビアが一年中サマータイムに</strong> 2017/9/20</p>
<p>
  <a href="/WorldTime/Country/NA">ナミビア</a>では、9月3日からサマータイムになっていますが、4月にサマータイムに終了せずに一年中サマータイムとなる予定です。この変更により、ナミビアのタイムゾーンは、UTC+2 の中央アフリカ時間になります。
</p>
<p><strong>ハイチがサマータイムを再開</strong> 2017/3/19</p>
<p>
  <a href="/WorldTime/Country/HT">ハイチ</a>では、昨年（2016年）はサマータイムを実施しませんでしたが、今年（2017年）は実施しています。サマータイムの期間はアメリカと同じ 3月12日(日)～11月5日(日)です。
</p>
<p><strong>オーストラリアなど南半球のサマータイムの終了予定</strong> 2017/2/27</p>
<p>
  オーストラリア等の南半球ではサマータイムが終了する時期になりました。そこで、2016/2017年の南半球のサマータイムの終了日をまとめてみました。なお、ナミビアでは冬時間に移行せず通年サマータイムを検討しているようです。
</p>
<ul>
  <li><a href="/WorldTime/Country/FJ">フィジー</a>、<a href="/WorldTime/Country/TO">トンガ</a>cd 　1月15日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a>　2月19日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a>　3月26日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a>、<a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a>、<a href="/WorldTime/Country/NA">ナミビア</a> 4月2日 (日)</li>
  <li><a href="/WorldTime/Country/CL">チリ</a>　5月14日 (日)</li>
</ul>
<p><strong>北半球のサマータイムの開始予定 </strong>2017/2/27</p>
<p>北半球ではまもなくサマータイムが始まるので、以下に開始日をまとめておきます。</p>
<ul>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 3月12日(日) 3月第2日曜日 2:00(現地時間)</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/BS">バハマ</a> 3月12日(日)</li>
  <li><a href="/WorldTime/Country/IR">イラン</a> 3月22日（水）</li>
  <li><a href="/WorldTime/Country/IL">イスラエル</a> 3月24日(金)</li>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/CY">キプロス</a>を含む） 3月26日(日) 3月最終日曜日1:00 UTC</li>
  <li><a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/MA">モロッコ</a> 3月26日(日)</li>
  <li><a href="/WorldTime/Country/SY">シリア</a>、<a href="/WorldTime/Country/JO">ヨルダン</a>  3月31日(金)</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 4月2日(日)<br /> ※アメリカとの国境沿いでは3月12日(日)の所があります。</li>
</ul>
<p><strong>モンゴルではサマータイムを廃止</strong> 2017/2/27</p>
<p><a href="/WorldTime/Country/MN">モンゴル</a>では、2015年にサマータイムを再開しましたが、今年からサマータイムが廃止されました。なお、モンゴルでは、1983年～1998年、2001年～2006年、2015年～2016年にサマータイムが実施されています。</p>
<p><strong>チリ最南部のマガジャネス地方では冬時間に移行せず</strong> 2017/2/27</p>
<p><a href="/WorldTime/Country/CL">チリ</a>では、5月14日にサマータイムが終了して冬時間になりますが、最南部のマガジャネス（マジェラン）地方では、冬時間に移行せず現在のサマータイムのタイムゾーン UTC-3が通年のタイムゾーンになります。なお、チリでは、2015年には全土で通年サマータイムを実施したことがあります。</p>
<p><strong>ロシアのサラトフ州でタイムゾーンが変更されます</strong> 2016/11/24</p>
<p>
  <a href="/WorldTime/Country/RU">ロシア</a>のサラトフ州では12月4日に、モスクワ時間(UTC+3)からサマラ時間に(UTC+4)にタイムゾーンが変更されます。今年のロシアでのタイムゾーンの変更はこれで10カ所になります。いずれも1時間時計の針を進める変更で、ロシアでは2014年に殆どの地域で時計の針を1時間遅らせましたが、タイムゾーンの東部にある地域だと日の入りの時間が早くなってしまうので、以前の時間帯の方がいいという地域で変更をしたようです。
</p>
<p><strong>トンガがサマータイムを実施</strong> 2016/11/1</p>
<p>
  <a href="/WorldTime/Country/TO">トンガ</a>では、今季からサマータムが実施されます。今季のサマータムの期間は、11月6日（日）から1月15日（日）です。サマータイムの期間中は、UTC+14のタイムゾーンになり、世界で一番早いタイムゾーンになります。それで、2017年の新年をキリバスのライン諸島、サモアとともに世界で一番早く迎える地域になります。
</p>
<p><strong>ヨーロッパ、アメリカでまもなくサマータイムが終了します </strong>2016/9/27</p>
<p>ヨーロッパでは、10月30日(日）のUTC1:00に一斉にサマータイムが終了します。アメリカ、カナダでは、11月6日(日）の現地時間の2:00にサマータムが終了します。以下に北半球でのサマータイムの終了日の一覧を作成しておきます。なお、<a href="/WorldTime/Country/TR">トルコ</a>では、冬時間に移行せず1年中サマータイムの時間になります。</p>
<ul>
  <li><a href="/WorldTime/Country/IR">イラン</a> 9月21日（水）</li>
  <li><a href="/WorldTime/Country/MN">モンゴル</a> 9月24日（土）</li>
  <li><a href="/WorldTime/Country/JO">ヨルダン</a>、<a href="/WorldTime/Country/SY">シリア</a> 10月28日（金）</li>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/CY">キプロス（北キプロスを除く）</a>を含む） 10月30日(日) 10月最終日曜日1:00 UTC</li>
  <li><a href="/WorldTime/Country/IL">イスラエル</a>、<a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/MA">モロッコ</a> 10月30日(日)</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 10月30日(日)<br /> ※アメリカとの国境沿いでは11月6日 (日)の所があります。</li>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 11月6日(日) 11月第1日曜日2:00 現地時間</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/BS">バハマ</a> 11月6日(日)</li>
</ul>
<p><strong>オーストラリアなど南半球でサマータイムが始まります</strong> 2016/9/26</p>
<p>
  オーストラリア等の南半球ではサマータイムが開始する時期になりました。そこで、2016-2017年の南半球のサマータイム期間をまとめてみました。
</p>
<ul>
  <li><a href="/WorldTime/Country/CL">チリ</a> 8月14日 (日) ～ 5月14日 (日)</li>
  <li><a href="/WorldTime/Country/NA">ナミビア</a> 9月4日 (日) ～ 4月2日 (日)</li>
  <li><a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a> 9月25日 (日) ～ 4月2日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a> 10月2日 (日) ～ 4月2日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a> 10月2日 (日) ～ 3月26日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a> 10月16日 (日) ～ 2月19日 (日)</li>
  <li><a href="/WorldTime/Country/FJ">フィジー</a> 11月6日 (日) ～ 1月15日 (日)</li>
</ul>
<p><strong>トルコでは冬時間に移行せず</strong> 2016/9/13</p>
<p>
  <a href="/WorldTime/Country/TR">トルコ</a>では、今年からサマータイムを冬時間に元に戻さないことがことが決まりました。トルコのタイムゾーンは、1年中 UTC-3 になり、日本との時差は6時間です。今回の変更は「もっと太陽を有効活用する」ことが目的とのことですが、<a href="/WorldTime/Location/Europe/Istanbul">イスタンブル</a>だと12月1月は日の出の時間が8時以降になり日の出前に通勤通学をしないといけなくなるという問題があります。<br />
  トルコ系住民が多い北キプロスでも採用される予定で、キプロス島では冬の間は南北で時差が生じるようになります。
</p>
<p><strong>今年の年末に「うるう秒」が挿入されます</strong> 2016/7/20</p>
<p>
  今年の12月31日23時59分59秒(UTC)の次に「うるう秒」が挿入されることになりました。日本では、時差の関係で1月1日の8時59分59秒の次になります。うるう秒による調整は、1972年に制度が設けられてから今回が27回目で、すべてが1秒の挿入でした。なお、前回は昨年（2015年）の6月でした。
</p>
<p><strong>ロシアのノヴォシビルスクではタイムゾーンが変更されます</strong> 2016/7/20</p>
<p>
  <a href="/WorldTime/Country/RU">ロシア</a>のノヴォシビルスク州（<a href="/WorldTime/Location/Asia/Novosibirsk">ノヴォシビルスク</a>）では、7月24日(日)に1時間時計の針を進め、UTC+6からUTC+7のタイムゾーンに変更される予定です。
  今年、ロシアでは9つの地域でタイムゾーンの変更がありましたがすべて1時間時計の針を進める変更でした。2014年10月に本来の標準時間に戻る変更をしましたが、以前の方がよかったという地域で元にもどしたという感じだと思います。
</p>
<p><strong>エジプトのサマータイムの再開は中止</strong> 2016/7/7</p>
<p>
  <a href="/WorldTime/Country/EG">エジプト</a>では、今年（2016年）サマータイムを再開する予定でしたが、6月28日に議会がサマータイムをキャンセルすることで合意したため、エジプト政府は7月4日にサマータイムをキャンセルする決定をしました。
</p>
<p><strong>エジプトではサマータイムが再開されます（最終的には中止）</strong> 2016/6/16</p>
<p>
  <a href="/WorldTime/Country/EG">エジプト</a>では、昨年はサマータイムを実施しませんでしたが、今年（2016年）は7月8日(金)からサマータイムが実施（最終的には中止）されます。
</p>
<p><strong>ベネズエラでタイムゾーンが変更されます</strong> 2016/4/19</p>
<p>
  <a href="/WorldTime/Country/VE">ベネズエラ</a>では、5月1日(日)に時計の針を30分進めて、UTC-4 のタイムゾーンになります。これは、2007年の12月以前のタイムゾーンに戻ることになります。
</p>
<p><strong>ロシアのマガダンではタイムゾーンが変更されます</strong> 2016/4/19</p>
<p>
  マガダン州（<a href="/WorldTime/Location/Asia/Magadan">マガダン</a>）では、4月24日(日)に1時間時計の針を進めるタイムゾーンの変更があり、UTC+11 のタイムゾーンになり、サハリンと同じ時間になります。<br />
  また、トムスク州では5月29日（日）にタイムゾーンが UTC+6 から  UTC+7 に変更になる可能性が高いです。
</p>
<p><strong>オーストラリアなど南半球のサマータイムの終了予定</strong> 2016/3/18</p>
<p>
  オーストラリア等の南半球ではサマータイムが終了する時期になりました。そこで、2015-2016年の南半球のサマータイムの終了日をまとめてみました。なお、<a href="/WorldTime/Country/CL">チリ</a>は1年中サマータイムになっていましたが今年はサマータイムを終了する予定です。
</p>
<ul>
  <li><a href="/WorldTime/Country/FJ">フィジー</a>　1月17日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a>　2月21日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a>　3月27日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a>、<a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a>、<a href="/WorldTime/Country/NA">ナミビア</a> 4月3日 (日)</li>
  <li><a href="/WorldTime/Country/CL">チリ</a>　5月15日 (日)</li>
</ul>
<p><strong>ロシアの一部の地域でタイムゾーンが変更</strong> 2016/3/18</p>
<p>
  <a href="/WorldTime/Country/RU">ロシア</a>では、以下の地域で3月27日(日)に1時間時計の針を進めるタイムゾーンの変更があります。2014年に時計の針を遅らせる変更がありましたが、それで都合が悪かった地域での修正だと思われます。サハリンは、北海道に隣接していますが、今回の変更で時差がまた2時間になります。
</p>
<ul>
  <li>サハリン州（<a href="/WorldTime/Location/Asia/Sakhalin">ユジノサハリンスク</a>） UTC+10 → UTC+11</li>
  <li>ウリヤノフスク州（ウリヤノフスク） UTC+3 → UTC+4</li>
  <li>アルタイ共和国（ゴルノ＝アルタイスク） UTC+6 → UTC+7</li>
  <li>アルタイ地方(バルナウル) UTC+6 → UTC+7 </li>
  <li>ザバイカリエ地方(<a href="/WorldTime/Location/Asia/Chita">チタ</a>) UTC+8 → UTC+9</li>
  <li>アストラハン州（アストラハン） UTC+3 → UTC+4</li>
</ul>
<p>
  マガダン州（<a href="/WorldTime/Location/Asia/Magadan">マガダン</a>）（UTC+10 → UTC+11）については、4月24日(日)に変更になる可能性があります。
</p>
<p><strong>アゼルバイジャンではサマータイムを廃止</strong> 2016/3/18</p>
<p><a href="/WorldTime/Country/AZ">アゼルバイジャン</a>では、サマータイムを廃止するというアナウンスがありました。3月27日(日)からの実施予定でしたが10日前になってのアナウンスで、廃止理由は健康上や技術上の問題のためということです。</p>
<p><strong>チリではサマータイムを再開</strong> 2016/3/18</p>
<p><a href="/WorldTime/Country/CL">チリ</a>では、昨年(2015年)はサマータイムを終了せずに1年中サマータイムになりましたが、今年（2016年）は、5月15日(日)にサマータイムを終了し、8月14日(日)にサマータイムを再開するというアナウンスがありました。</p>
<p><strong>ハイチではサマータイムを実施せず</strong> 2016/3/16</p>
<p><a href="/WorldTime/Country/HT">ハイチ</a>では、2012年からサマータイムを実施していましたが、今年（2016年）は、実施予定日（3/13）の2日前になってサマータイムを実施しないというアナウンスがあったそうです。</p>
<p><strong>北半球のサマータイムの開始予定 </strong>2016/3/13</p>
<p>アメリカ、カナダでは、3月13日(日）の現地時間の2:00にサマータムが始まりました。ヨーロッパでは、3月27日(日）のUTC1:00に一斉にサマータイムが始まります。以下は北半球でのサマータイムの開始日の一覧です。</p>
<ul>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 3月13日(日) 3月第2日曜日 2:00(現地時間)</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/BS">バハマ</a> 3月13日(日)</li>
  <li><a href="/WorldTime/Country/IR">イラン</a> 3月21日（月）</li>
  <li><a href="/WorldTime/Country/IL">イスラエル</a>、<a href="/WorldTime/Country/SY">シリア</a> 3月25日(金)</li>
  <li><a href="/WorldTime/Country/MN">モンゴル</a> 3月26日（土）</li>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/CY">キプロス</a>、<a href="/WorldTime/Country/TR">トルコ</a>を含む） 3月27日(日) 3月最終日曜日1:00 UTC</li>
  <li><a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/MA">モロッコ</a> 3月27日(日)</li>
  <li><a href="/WorldTime/Country/JO">ヨルダン</a> 4月1日（金）</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 4月3日(日)<br /> ※アメリカとの国境沿いでは3月13日 (日)の所があります。</li>
</ul>
<p><strong>ヨーロッパ、アメリカでまもなくサマータイムが終了します </strong>2015/10/1</p>
<p>ヨーロッパでは、10月25日(日）のUTC1:00に一斉にサマータイムが終了します。アメリカ、カナダでは、11月1日(日）の現地時間の2:00にサマータムが終了します。以下に北半球でのサマータイムの終了日の一覧を作成しておきます。</p>
<ul>
  <li><a href="/WorldTime/Country/IR">イラン</a> 9月22日（火）</li>
  <li><a href="/WorldTime/Country/MN">モンゴル</a> 9月26日（土）</li>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/CY">キプロス</a>を含む） 10月25日(日) 10月最終日曜日1:00 UTC</li>
  <li><a href="/WorldTime/Country/AZ">アゼルバイジャン</a>、<a href="/WorldTime/Country/IL">イスラエル</a>、<a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/MA">モロッコ</a> 10月25日(日)</li>
  <li><a href="/WorldTime/Country/JO">ヨルダン</a>、<a href="/WorldTime/Country/SY">シリア</a> 10月30日（金）</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 10月25日(日)<br /> ※アメリカとの国境沿いでは11月1日 (日)の所があります。</li>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 11月1日(日) 11月第1日曜日2:00 現地時間</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/HT">ハイチ</a>、<a href="/WorldTime/Country/BS">バハマ</a> 11月2日(日)</li>
  <li><a href="/WorldTime/Country/TR">トルコ</a> 11月8日（日）</li>
</ul>
<p><strong>オーストラリアなど南半球でサマータイムが始まります</strong> 2015/10/1</p>
<p>
  オーストラリア等の南半球ではサマータイムが開始する時期になりました。そこで、2015-2016年の南半球のサマータイム期間をまとめてみました。なお、<a href="/WorldTime/Country/UY">ウルグアイ</a>はサマータイムを廃止し、<a href="/WorldTime/Country/CL">チリ</a>は1年中サマータイムになっています。
</p>
<ul>
  <li><a href="/WorldTime/Country/NA">ナミビア</a> 9月6日 (日) ～ 4月3日 (日)</li>
  <li><a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a>　9月27日 (日) ～ 4月3日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a>　10月4日 (日) ～ 4月3日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a>　10月4日 (日) ～ 3月27日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a>　10月18日 (日) ～ 2月21日 (日)</li>
  <li><a href="/WorldTime/Country/FJ">フィジー</a>　11月1日 (日) ～ 1月17日 (日)</li>
</ul>
<p><strong>トルコがサマータイムを2週間延長</strong> 2015/10/1</p>
<p><a href="/WorldTime/Country/TR">トルコ</a>では、当初サマータイムの終了はヨーロッパと同じ10月25日を予定していましたが、2週間延長して11月8日に変更されます。11月1日に総選挙があるというのが理由のようです。トルコではこのようなことは初めてではなく、昨年地方選挙のためにサマータイムの開始を1日遅らしたというようなケース等あります。</p>
<p><strong>カナダのフォート・ネルソンがサマータイムを廃止</strong> 2015/10/1</p>
<p><a href="/WorldTime/Country/CA">カナダ</a>のブリティッシュコロンビア州にあるフォート・ネルソンが、サマータイムを廃止して11月1日のサマータイムの終了日に時計の針を戻さずに1年中 MST（山岳部時間 UTC-7）のタイムゾーンになります。ブリティッシュコロンビア州では、フォート・ネルソンの南にある<a href="/WorldTime/Location/America/Dawson_Creek">ドーソン・クリーク</a>等が同じタイムゾーンを採用しています。</p>
<p><strong>ノーフォーク島のタイムゾーンが変更</strong> 2015/10/1</p>
<p><a href="/WorldTime/Location/Pacific/Norfolk">ノーフォーク島</a>は、太平洋にあるオーストラリア領の島ですが、10月8日から標準時間を３０分遅らせてUTC+11:00のタイムゾーンになります。現在は、UTC+11:30のタイムゾーンを採用していますが、30分の端数があるのが計算上不便だということで変更するようです。UTC+11のタイムゾーンだとオーストラリアがサマータイムの期間中は<a href="/WorldTime/Location/Australia/Sydney">シドニー</a>と同じタイムゾーンになります。</p>
<p><strong>北朝鮮の標準時間が30分遅くなります</strong> 2015/8/8</p>
<p><a href="/WorldTime/Country/KP">北朝鮮</a>では、 8月15日から標準時間を３０分遅らせてUTC+8:30のタイムゾーンになるとの発表がありました。8月15日は日本の植民地支配からの解放７０周年に当たり、日本の植民地支配以前の標準時間にもどすためだということです。</p>
<p><strong>ウルグアイは今年のサマータイムを実施せず</strong> 2015/7/27</p>
<p>ウルグアイでは、2015-2016年のサマータイムを実施しないことになりました。ウルグアイでは2004年からサマータイムを再開していましたが、今回の廃止は旅行業界が「サマータイムは旅行客にマイナスの影響がある」ということで主導したそうです。確かに、ニューヨークとの時差が、北半球が夏の時は1時間で、冬になると3時間というのはイメージしにくいですね。</p>
<p><strong>エジプトは今年サマータイムを実施せず</strong> 2015/4/30</p>
<p>エジプトでは、今年はサマータイムを実施しないことになりました。また、来年以降も実施しない可能性が高いようです。サマータイムを実施しない理由としては、世論調査の結果多くの市民がサマータイムに反対しているためだそうです。</p>
<p><a href="http://english.ahram.org.eg/News/128195.aspx">http://english.ahram.org.eg/News/128195.aspx</a></p>
<p><strong>6月30日にうるう秒が挿入されます</strong> 2015/4/17</p>
<p>今年の6月末に3年ぶりにうるう秒が挿入されます。もう少し具体的にいうと、2015年6月30日23時59分59秒 UTC と 2015年7月1日0時0分0秒 UTC のの間に「23時59分60秒」が挿入されます。うるう秒についての説明を「<a href="/uc/gmt-utc/">UTC, GMT, うるう秒について</a>」に少し書いてみました。</p>
<p><a href="http://www.soumu.go.jp/menu_news/s-news/02tsushin03_03000140.html">総務省｜「うるう秒」挿入のお知らせ</a></p>
<p><strong>モンゴルではサマータイムを実施</strong> 2015/3/14</p>
<p>モンゴルでは、今年からサマータイムが実施されます。サマータイムの期間は、3月の最終土曜日から9月の最終土曜日までです。なお、モンゴルでは、1983年～1998年及び2001年～2006年にサマータイムを実施していました。</p>
<p><strong>チリでは1年中サマータイムとなります</strong> 2015/1/29</p>
<p><a href="/WorldTime/Country/CL">チリ</a>では、国内のエネルギー危機のため2011年以降サマータイムの期間の延長を行ってきていましたが、2015年からは1年中サマータイムの時間帯（UTC-3）になることになりました。</p>
<p><strong>メキシコのキンタナ・ロー州のタイムゾーンがアメリカ東部時間になります </strong>2015/1/29</p>
<p>リゾート地で有名な<a href="/WorldTime/Location/America/Cancun">カンクン</a>のあるメキシコのキンタナ・ロー州では、2月1日（日）に時計の針を1時間進めてUTC-5のアメ リカ東部時間に変更されます。また、サマータイムは廃止され、1年中UTC-5のタイムゾーンになります。したがって、サマータイム期間は首都のメキシコシティと同じ時間となり、冬時間の期間は1時間早い時間になります。メキシコでは東端でカリブ海側にあるため、夕方の日暮れを遅くして観光できる時間を増やしたいということがあるようです。</p>
<p><strong>アメリカのアリゾナ州ではサマータイムを採用する法案が提案されています </strong>2015/1/9</p>
<p>アメ リカでは、現時点ではアリゾナ州とハワイ州がサマータイムを採用していませんが、アリゾナ州でサマータイムを採用する法案が提案されています。この法案が可決されれば、アメリカ本土ではすべての州がサマータイムを採用することになります。</p>
<p><a href="http://www.washingtonpost.com/blogs/govbeat/wp/2015/01/07/maverick-arizona-would-have-to-conform-with-the-rest-of-the-country-and-do-daylight-saving-time-under-new-bill/">http://www.washingtonpost.com/blogs/govbeat/wp/2015/01/07/maverick-arizona-would-have-to-conform-with-the-rest-of-the-country-and-do-daylight-saving-time-under-new-bill/</a></p>
<p><strong>アメリカのユタ州ではサマータイムを廃止することが検討されています </strong>2014/10/19</p>
<p>アメリカでは、アリゾナ州とハワイ州を除く地域でサマータイムが実施されていますが、ユタ州では、サマータイムを廃止することが検討されています。ユタ州が行った調査結果によれば、ユタ州民の67%がサマータイムを廃止して一年中山岳部時間になることを支持しています。旅行業界や娯楽業界は、夏の時期だと午後9時ぐらいまで太陽が沈まないのが、サマータイムを廃止すると1時間日没が早くなるため大きな打撃を受けるとして反対しています。</p>
<p>ユタ州は山岳部時間を採用している地域では西側に位置しており、今の時期のソルトレークシティの日の出の時間は7時40分ぐらいです。子供の朝の通学のこと等を考えると、サマータイムを廃止することに賛成する人が多いのはよく理解できます。</p>
<p><a href="http://www.sltrib.com/sltrib/politics/58526154-90/daylight-saving-malley-utah.html.csp">http://www.sltrib.com/sltrib/politics/58526154-90/daylight-saving-malley-utah.html.cs</a>p</p>
<p><strong>パプアニューギニアで新しいタイムゾーンの地域ができます </strong>2014/10/18</p>
<p>パプアニューギニアは、現在すべての地域が UTC+10 のタイムゾーンになっていますが、ブーゲンビル島では12月28日からUTC+11のタイムゾーンに変更される予定です。ブーゲンビル島は、地理的にはソロモン諸島に属しており、分離独立運動による内戦があった地域で、現在は、自治政府が設立されています。この地域では、ソロモン諸島との結びつきが強いようです。<br /><a href="http://www.bougainville24.com/bougainville-issues/bougainville-gets-own-timezone/">http://www.bougainville24.com/bougainville-issues/bougainville-gets-own-timezone/</a></p>
<p><strong>ヨーロッパ、アメリカでまもなくサマータイムが終了します </strong>2014/10/10</p>
<p>ヨーロッパでは、10月26日(日）のUTC1:00に一斉にサマータイムが終了します。アメリカ、カナダでは、11月2日(日）の現地時間の2:00にサマータムが終了します。以下に北半球でのサマータイムの終了日の一覧を作成しておきます。</p>
<p>なお、ロシアも10月26日に冬時間に戻りますが、もう夏時間に戻ることはありません。</p>
<ul>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/TR">トルコ</a>・<a href="/WorldTime/Country/CY">キプロス</a>を含む） 10月26日(日) 10月最終日曜日1:00 UTC</li>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 11月2日(日) 11月第1日曜日2:00 現地時間</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 10月26日(日)<br /> ※アメリカとの国境沿いでは11月2日 (日)の所があります。</li>
  <li><a href="/WorldTime/Country/IR">イラン</a> 9月22日（日）</li>
  <li><a href="/WorldTime/Country/EG">エジプト</a>　9月26日（金）</li>
  <li><a href="/WorldTime/Country/AZ">アゼルバイジャン</a>、<a href="/WorldTime/Country/IL">イスラエル</a>、<a href="/WorldTime/Country/LB">レバノン</a>、<a href="/WorldTime/Country/MA">モロッコ</a> 10月26日(日)</li>
  <li><a href="/WorldTime/Country/JO">ヨルダン</a>、<a href="/WorldTime/Country/SY">シリア</a>　10月31日（金）</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/HT">ハイチ</a>、<a href="/WorldTime/Country/BS">バハマ</a> 11月2日(日)</li>
</ul>
<p><strong>オーストラリアなど南半球でサマータイムが始まります</strong> 2014/9/29</p>
<p>オーストラリア等の南半球ではサマータイムが開始する時期になりました。そこで、2014-2015年の南半球のサマータイム期間をまとめてみました。それぞれ、開始日の早朝にサマータイムになり、終了日の早朝にサマータイムが終了します。</p>
<ul>
  <li><a href="/WorldTime/Country/NA">ナミビア</a> 9月7日 (日) ～ 4月5日 (日)</li>
  <li><a href="/WorldTime/Country/CL">チリ</a>　9月7日 (日) ～ 4月26日 (日)</li>
  <li><a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a>　9月28日 (日) ～ 4月5日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a>　10月5日 (日) ～ 4月5日 (日)</li>
  <li><a href="/WorldTime/Country/UY">ウルグアイ</a>　10月5日 (日) ～ 3月8日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a>　10月5日 (日) ～ 3月22日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a>　10月19日 (日) ～ 2月22日 (日)</li>
  <li><a href="/WorldTime/Country/FJ">フィジー</a>　11月2日 (日) ～ 1月18日 (日) (2014/10/23修正)</li>
</ul>
<p><strong>ロシア、冬時間に戻す法案が成立</strong> 2014/7/24</p>
<p>ロシアでは冬時間に戻すという法案が下院及び上院で可決され、プーチン大統領が署名しました。ロシアでは、2011年から冬時間にならずに1年中サマータイムの時間を使用するように改正されましたが、冬至の時期だとモスクワでは朝の１０時にならないと太陽が昇らないので批判的な意見が多 く、時計の針を1時間戻すという話が出ていました。今回の法案では、10月26日(日）の早朝に1時間時計の針を戻して、その後はサマータイムを実施しない、タイムゾーンに関しては、サマラ時間及びカムチャッカ時間が復活して全部で11のタイムゾーンになります。ただ、単純に以前のタイムゾーンに戻るというわけではなく、例えばマガダンは UTC+12のタイムゾーンからウラジオストクと同じ UTC+10のタイムゾーンになります。やはり一つの国で11もタイムゾーンがあるというのはややこしいです。</p>
<p><a href="http://itar-tass.com/obschestvo/1333711">http://itar-tass.com/obschestvo/1333711</a>（イタルタス通信 ロシア語）</p>
<p><strong>エジプトでサマータイムが復活</strong> 2014/5/10</p>
<p>エジプトでは、２０１１年に廃止したサマータイムを復活し、5月15日（木）から導入される予定です。電力危機を回避するための節電効果を狙ったということです。</p>
<p><strong>オーストラリア、ニュージーランドでまもなくサマータイムが終了します</strong> 2014/3/29</p>
<p>まもなくオーストラリアやニュージーランドではサマータイムが終了ます。既にサマータイムが終了した国も多いですが、2013-2014年の南半球のサマータイムの終了日をまとめてみました。それぞれ、終了日の早朝にサマータイムが終了します。</p>
<ul>
  <li><a href="/WorldTime/Country/FJ">フィジー</a>　1月19日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a>　2月16日 (日)</li>
  <li><a href="/WorldTime/Country/UY">ウルグアイ</a>　3月9日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a>　3月23日 (日)</li>
  <li><a href="/WorldTime/Country/NA">ナミビア</a> 4月6日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a>　4月6日 (日)</li>
  <li><a href="/WorldTime/Country/NZ">ニュージーランド</a>　4月6日 (日)</li>
  <li><a href="/WorldTime/Country/AU"></a><a href="/WorldTime/Country/WS">サモア</a>　4月6日 (日)</li>
  <li><a href="/WorldTime/Country/CL">チリ</a>　4月27日 (日)</li>
</ul>
<p><strong>アメリカ、ヨーロッパでまもなくサマータイムが始まります</strong> 2014/3/2</p>
<p>北半球で、2014年のサマータイムがはじまる時期になりました。アメリカ、カナダでは、3月9日(日）の現地時間の2:00にサマータムが始まるので1時間時計の針が進んで3:00になります。ヨーロッパでは、3月30日(日）のUTC1:00に一斉にサマータイムが始まります。以下に北半球でのサマータイムの開始日の一覧を作成しておきます。</p>
<ul>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 3月9日（日） 2:00 現地時間</li>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/CY">キプロス</a>を含む） 3月30日（日） 1:00 UTC</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 4月6日（日）<br /> ※アメリカとの国境沿いでは3月9日(日)の所があります。</li>
  <li><a href="/WorldTime/Country/TR">トルコ</a> 3月31日（月） 地方選挙のため通常より１日遅れ</li>
  <li><a href="/WorldTime/Country/AZ">アゼルバイジャン</a> 3月30日（日）</li>
  <li><a href="/WorldTime/Country/IL">イスラエル</a> 3月28日（金）</li>
  <li><a href="/WorldTime/Country/IR">イラン</a> 3月22日（土）</li>
  <li><a href="/WorldTime/Country/SY">シリア</a> 3月28日（金）</li>
  <li><a href="/WorldTime/Country/LB">レバノン</a> 3月30日（日）</li>
  <li><a href="/WorldTime/Country/JO">ヨルダン</a> 3月28日（金）</li>
  <li><a href="/WorldTime/Country/MA">モロッコ</a> 3月30日（日）</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a>、<a href="/WorldTime/Country/HT">ハイチ</a>、<a href="/WorldTime/Country/BS">バハマ</a> 3月9日（日）</li>
</ul>
<p><strong>ロシア、冬時間に戻す法案を提出?</strong> 2014/1/21</p>
<p>ロシアでは2011年にサマータイムを冬時間に戻すのをやめて1年中サマータイムとなりました。しかし、冬至の時期だとモスクワでは朝の１０時にならないと太陽が昇らないので批判的な意見が多く、時計の針を1時間戻すという話が出ていました。今回、冬時間に戻すという法案が下院に提案されました。国営のイタルタス通信の報道なので、今回は冬時間に戻る可能性が高いと思われます。法案が通れば、今年の秋に1時間時計の針を戻して、その後はサマータイムを実施しないということのようです。</p>
<p><a href="http://itar-tass.com/obschestvo/897800">http://itar-tass.com/obschestvo/897800</a></p>
<p><strong>ヨルダン、結局冬時間を開始</strong> 2013/12/20</p>
<p><a href="/WorldTime/Country/JO">ヨルダン</a>で は、サマータイムを継続するという発表をしていましたが、最近になって12月19日の深夜に時刻を１時間戻すという発表がありました。ヨルダンでは、12月20日から冬時間になり、今後サマー タイムを継続するようです。冬時間を再開した理由としては、子供が日の出前に登校しないといけないので批判が多かったためのようです。冬時間に戻さないと日の出の時間がこの時期だと8時30分頃になるので子供の朝の登校には確かに危険ですね。</p>
<p><a href="http://www.jordan.emb-japan.go.jp/Japanese/Consular/Announcements/2013/winter%20time%202013.htm">在ヨルダン日本国大使館領事からのお知らせ</a></p>
<p><strong>リビアではサマータイムを継続しタイムゾーンをUTC+2に変更</strong> 2013/10/26</p>
<p>リビアでは10月25日(金)にサマータイムが終了する予定でしたが、24日になって時計の針を戻さないという発表がありました。サマータイムを廃止し、UTC+2のタイムゾーンに移動したものと思われます。</p>
<p><a href="http://www.libyaherald.com/2013/10/24/correction-no-time-change-tomorrow/#axzz2ipEPPK6H" target="_blank">http://www.libyaherald.com/2013/10/24/correction-no-time-change-tomorrow/</a></p>
<p><strong>ブラジルのアクレ州ではタイムゾーンを元に戻します</strong> 2013/10/19</p>
<p>ブラジルの北西部にあるアクレ州（州都<a href="/WorldTime/Location/America/Rio_Branco">リオブランコ</a>）では2008年にタイムゾーンをアマゾン時間（UTC-4）に変更しましたが、11月10日に時計の針を1時間戻して、元のUTC-5のタイムゾーンに戻る予定です。アクレ州は、地理的にいえばUTC-5の位置にありますが、ブラジルの他の地域との時差を少なくして関係を強化するために1時間早くしたのですが、朝の日の出が遅くなるということで変更に反対する人が多かったため、元に戻すことになったようです。また、アマゾナス州の西部（主要都市<a href="/WorldTime/Location/America/Eirunepe">エイルネペ</a>）でもアクレ州と同様にUTC-5のタイムゾーンに戻る予定です。</p>
<p><strong>ヨーロッパ、アメリカでまもなくサマータイムが終了します</strong></p>
<p>ヨーロッパでは、10月27日(日）のUTC1:00に一斉にサマータイムが終了します。アメリカ、カナダでは、11月3日(日）の現地時間の2:00にサマータムが終了します。以下に北半球でのサマータイムの終了日の一覧を作成しておきます。なお、<a href="/WorldTime/Country/JO">ヨルダン</a>については、冬時間に移行せずサマータイムを廃止します。</p>
<ul>
  <li><a href="/WorldTime/Area/Europe">ヨーロッパ</a>（<a href="/WorldTime/Country/TR">トルコ</a>・<a href="/WorldTime/Country/CY">キプロス</a>を含む） 10月27日(日) 10月最終日曜日1:00 UTC</li>
  <li><a href="/WorldTime/Country/US">アメリカ</a>、<a href="/WorldTime/Country/CA">カナダ</a> 11月3日(日) 11月第1日曜日2:00 現地時間</li>
  <li><a href="/WorldTime/Country/MX">メキシコ</a> 10月27日(日)<br /> ※アメリカとの国境沿いでは11月3日 (日)の所があります。</li>
  <li><a href="/WorldTime/Country/AZ">アゼルバイジャン</a> 10月27日(日)</li>
  <li><a href="/WorldTime/Country/IL">イスラエル</a> 10月27日（日）</li>
  <li><a href="/WorldTime/Country/IR">イラン</a> 9月22日（日）</li>
  <li><a href="/WorldTime/Country/SY">シリア</a> 10月25日（金）</li>
  <li><a href="/WorldTime/Country/LB">レバノン</a> 10月27日(日)</li>
  <li><a href="/WorldTime/Country/MA">モロッコ</a> 10月27日（日）</li>
  <li><a href="/WorldTime/Country/CU">キューバ</a> 11月3日(日)</li>
  <li><a href="/WorldTime/Country/HT">ハイチ</a> 11月3日（日）</li>
  <li><a href="/WorldTime/Country/BS">バハマ</a> 11月3日 (日)</li>
</ul>
<p><strong>モロッコ、サマータイム期間を延長</strong> 2013/9/29</p>
<p><a href="/WorldTime/Country/MA">モロッコ</a>では、サマータイム期間が、9月の最終日曜日から4週間延長して10月の最終日曜日の１０月２７日（日）になりました。今後、サマータイムの期間は、ヨーロッパと同じ、3月の最終日曜日から10月の最終日曜日までとなります。そうはいっても、サマータイムの終了する前日に延長を発表するぐらいだから、今後もサマータイム期間には注意をしておいた方がいいように思います。</p>
<p><a href="http://www.ma.emb-japan.go.jp/japonais/ryoji_osirase_summer.htm">在モロッコ日本大使館お知らせ</a></p>
<p><a href="http://www.maroc.gov.ma/fr/actualites/lhoraire-dete-gmt1-maintenu-jusquau-27-octobre-2013">モロッコ政府お知らせ（フランス語）</a></p>
<p><strong>ヨルダン、サマータイムを継続</strong> 2013/9/29</p>
<p><a href="/WorldTime/Country/JO">ヨルダン</a>では、今後、夏時間と冬時間に１時間の差を設けず、夏時間（UTC+3）で統一する旨の発表がありました。ヨルダンは、サマー タイムを実施していましたが、昨年は冬もサマータイムを継続していました。この Web サイトでは、今後ヨルダンはアラビア時間（UTC+3）として取り扱うことにします。</p>
<p><a href="http://www.jordan.emb-japan.go.jp/Japanese/Consular/Announcements/2012/10_25_wintertime.html">在ヨルダン日本国大使館領事からの案内</a></p>
<p><strong>オーストラリアやニュージーランドなどでサマータイムが始まります</strong> 2013/9/21</p>
<p>まもなくオーストラリアやニュージーランドではサマータイムが始まります。そこで、2013-2014年の南半球のサマータイム期間をまとめてみました。それぞれ、開始日の早朝にサマータイムになり、終了日の早朝にサマータイムが終了します。</p>
<ul>
  <li><a href="/WorldTime/Country/NA">ナミビア</a> 9月1日 (日) ～ 4月6日 (日)</li>
  <li><a href="/WorldTime/Country/CL">チリ</a>　9月8日 (日) ～ 4月27日 (日)</li>
  <li><a href="/WorldTime/Country/NZ">ニュージーランド</a>、<a href="/WorldTime/Country/WS">サモア</a>　9月29日 (日) ～ 4月6日 (日)</li>
  <li><a href="/WorldTime/Country/AU">オーストラリア</a>　10月6日 (日) ～ 4月6日 (日)</li>
  <li><a href="/WorldTime/Country/UY">ウルグアイ</a>　10月6日 (日) ～ 3月9日 (日)</li>
  <li><a href="/WorldTime/Country/PY">パラグアイ</a>　10月6日 (日) ～ 3月23日 (日)</li>
  <li><a href="/WorldTime/Country/BR">ブラジル</a>　10月20日 (日) ～ 2月16日 (日)</li>
  <li><a href="/WorldTime/Country/FJ">フィジー</a>　10月27日 (日) ～ 1月19日 (日)</li>
</ul>
<p>昨年からの変更では、ブラジルのトカンティンス州（例<a href="/WorldTime/Location/America/Araguaina">アラグアイーナ</a>）では昨年はサマータイムを実施しましたが、今年はサマータイムを実施しない可能性が高いとのことです。</p>
<p><strong>モロッコのサマータイムの中断の期間を修正</strong> 2013/7/10</p>
<p><a href="/WorldTime/Country/MA">モロッコ</a>では、ラマダン中にはサマータイムが中断されますが、中断の期間を修正しました。モロッコと関係した事業をしている方から連絡をいただきありがとうございました。元はといえば Time Zone Databese が中断期間はラマダン期間中ということで登録されていたためで、Time Zone Databeseの修正がされたのが7/7でした。タイムゾーンの関係でも正確な情報を得るのは結構難しいものです。<br />在モロッコ日本大使館「<a href="http://www.ma.emb-japan.go.jp/japonais/ryoji_osirase_summer.htm">２０１３年におけるサマータイムに関するお知らせ</a>」</p>
<p><strong>イスラエルがサマータイムを延長</strong> 2013/7/10</p>
<p><a href="/WorldTime/Country/IL">イスラエル</a>では、サマータイムを延長する法案が日本の国会にあたるクネセトで可決されました。サマータイムの終了は、今年からヨーロッパと同じ10月の最終日曜日までとなります。今年の場合、当初の終了予定は10月6日(日）でしたが10月27日（日）に延長されることになります。<br /><a href="http://www.jpost.com/LandedPages/PrintArticle.aspx?id=319157">http://www.jpost.com/LandedPages/PrintArticle.aspx?id=319157</a></p>
<p><strong>パラグアイがサマータイムの期間を短縮</strong> 2013/3/16</p>
<p><a href="/WorldTime/Country/PY">パラグアイ</a>では、サマータイムが4月14日(日)に終了する予定でしたが、3月24日(日)に変更されます。来年以後も3月の第4日曜日に変更されるようです。変更理由としては、交通安全のためで子供が朝の暗い時間に通学するのをやめるためだそうです。</p>
<p><strong>ハイチがサマータイムを継続</strong> 2013/3/10</p>
<p><a href="/WorldTime/Country/CL"></a><a href="/WorldTime/Country/HT">ハイチ</a>では、今年もサマータイムが実施され、以後も継続されるようです。サマータイムの期間は、アメリカと同じで、2013年は、3月10日(日)から11月3日(日)までです。</p>
<p><strong>チリがサマータイムを延長</strong> 2013/2/17</p>
<p><a href="/WorldTime/Country/CL">チリ</a>では、サマータイムの終了が、3月9日(土）の深夜から、4月27日（土）の深夜に延長されました。延長の理由は、チリ国内のエネルギー危機のためで、2011年、2012年にも同じようにサマータイムが同じように延長されています。</p>
<p><strong>ウクライナがサマータイム廃止法案を上程</strong> 2013/1/26, 2013/3/10</p>
<p><a href="/WorldTime/Country/UA">ウクライナ</a>では、サマータイムを廃止する法案が上程されましたが、結局はサマータムを引き続き実施するようです。</p>
<p><strong>リビア、タイムゾーンを変更しサマータイムを実施</strong> 2012/11/10</p>
<p><a href="/WorldTime/Country/LY">リビア</a>では、11月10日（土）午前2時に時計の針を1時間戻して、東ヨーロッパ時間のUTC+2 から中央ヨーロッパ時間のUTC+1 のタイムゾーンに変更されました。2013年の春にはサマータイムを実施する予定です。これで、関係の深いイタリアと同じ時間になります。ただし、サマータイムの開始は3月29日（金）でヨーロッパより2日早く開始されますが、これはイスラム諸国においては金曜日が休日になるためです。 <strong><br /> </strong></p>
<p><strong>ヨルダン、サマータイムを継続</strong> 2012/10/28</p>
<p><a href="/WorldTime/Country/JO">ヨルダン</a>では、サマー タイムが10月26日（金）で終了する予定でしたが、今冬はサマータイムを継続するということです。公表されたのが24日と準備期間が全くない状態です。航空機の運行時間はUTCでは変更されないので、航空券に記載の時間を1時間プラスしないといけなくなるそうです。なんだか混乱しそうですね。<br /> <a href="http://www.petra.gov.jo/Public_News/Nws_NewsDetails.aspx?Site_Id=1&amp;lang=2&amp;NewsID=88950&amp;CatID=13&amp;Type=Home&amp;GType=1"> http://www.petra.gov.jo/Public_News/Nws_NewsDetails.aspx?Site_Id=1&amp;lang=2&amp;NewsID=88950&amp;CatID=13&amp;Type=Home&amp;GType=1</a></p>
<p><strong>ブラジルのバイーア州では、サマータイムを実施せず</strong> 2012/10/20 10/25修正</p>
<p>ブラジルの<a href="/WorldTime/Location/America/Bahia">バイーア州</a>では、2011-2012にサマータイムを実施しましたが、2012-2013はサマータイムを実施しないことになったようです。サマータイムを実施しない理由としては、住民の反対が強いためだそうです。 <span>一方、<a href="/WorldTime/Location/America/Araguaina">トカンティンス州</a></span>では、2012-2013にサマータイムを実施するようになりました。</p>
<p><strong>ロシア、時計の針を1時間戻すのか?</strong> 2012/10/9</p>
<p>ロシアでは2011年にサマータイムを冬時間に戻すのをやめて1年中サマータイムとなりました。しかし、<span style="font-size: small;">朝の１０時にならないと太陽が昇らないので批判的な意見が多く、</span>今年のヨーロッパのサマータイム終了時に時計の針を1時間戻すという話が出ています。今になっても、どうなるのか決まっていないようです。(今年は結局1時間戻されることはありませんでした。追加10/28）<br /> <a href="http://latitude.blogs.nytimes.com/2012/10/01/will-russia-restore-daylight-saving-time/#h[]" target="_blank">http://www.reuters.com/article/2012/09/20/us-russia-time-idUSBRE88J15A20120920<br /> http://latitude.blogs.nytimes.com/2012/10/01/will-russia-restore-daylight-saving-time/</a> <strong><br /> </strong></p>
<p><strong>ハイチがサマータイムを実施</strong> 2012/3/15</p>
<p><a href="/WorldTime/Country/HT">ハイチ</a>で、サマータイムが実施されたという報道がなされています。サマータイムの期間は、アメリカと同じく、3月11日(日)から11月4日(日)までです。</p>
<p><strong>モロッコのサマータイムは4月29日から開始</strong> 2012/3/15、3/17修正</p>
<p><a href="/WorldTime/Country/MA">モロッコ</a>では、2008年からサマータイムを再開していますが、期間が決まっていなくて毎年変更されていました。3月15日にやっとサマータイムの期間が決められたようです。今年以降、サマータイムは、4月の最終日曜日に開始し、9月の最終日曜日に終了することになりました。なお、ラマダンの期間中はサマータイムを実施しないということです。</p>
<p><strong>キューバのサマータイムは4月1日から開始</strong> 2012/3/2</p>
<p><a href="/WorldTime/Country/CU">キューバ</a>では、2012年は例年より遅れて、4月1日(日)からサマータイムが開始されます。</p>
<p><strong>フォークランド諸島では、2012年もサマータイムを一年中継続</strong> 2012/3/1</p>
<p><a href="/WorldTime/Country/FK">フォークランド諸島</a>では、2011年に試験的にサマータイムを一年中継続していましたが、2012年も継続します。また、将来的にも継続する見通しです。</p>
<p><strong>チリがサマータイムを延長</strong> 2012/2/29</p>
<p><a href="/WorldTime/Country/CL">チリ</a>では、サマータイムの終了が、3月10日(土）の深夜から、4月28日（土）の深夜に延長されました。延長の理由は、チリ国内のエネルギー危機のためです。</p>
<p><strong>アルメニアがサマータイムを廃止</strong> 2012/2/29</p>
<p><a href="/WorldTime/Country/AM">アルメニア</a>では、今年の春以降サマータイムを実施しないという決定がされました。アルメニアは、もともと地理的にはUTC+3の位置にあり、日の出の時間が遅いのでタイムゾーンを変更しようという話もありましたが最終的にはサマータイムを廃止するということだけで決着したようです。</p>
<p><strong>サモアとトケラウが日付変更線を変更</strong> 2011/12/29</p>
<p><a href="/WorldTime/Country/WS">サモア</a>と<a href="/WorldTime/Country/TK">トケラウ</a>が今日の深夜に日付変更線を西側に移動させます。そのため、両国では、12月30日がなくなり29日の次の日が12月31日になります（ <a href="http://www.time.com/time/world/article/0,8599,2103243,00.html"> TIME World</a>）。この変更により、両国は2012年の新年を世界で最も早く迎える国になります（<a href="/wp/">タイムゾーンとその他の雑多なことのブログ</a>）。</p>
<p><strong>キューバではサマータイムを2週間延長</strong> 2011/10/30</p>
<p>キューバでは、10月30日(日)にサマータイムが終了する予定でしたが、サマータイムの期間が2週間延長され、11月13日(日)に終了することになりました。</p>
<p><strong>ウクライナは従来通り10月30日に冬時間に移行予定</strong> 2011/10/19</p>
<p>ウクライナでは、サマータイム制度を廃止し、世界標準時＋３時間（日本との時差は６時間）をウクライナにおける時間帯として設定する旨の決定を9月20日に採択していました。しかし、10月18日になり、その法案を無効にする議決をおこないました（ <a href="http://www.ua.emb-japan.go.jp/jpn/consular/info/summertime.html"> 在ウクライナ日本国大使館領事情報</a>）。結局、ウクライナでは、従来通り10月30日（日）に冬時間に移行します。</p>
<p><strong>アルメニアでは冬時間に移行して来年のサマータイムを廃止予定</strong> 2011/10/12</p>
<p><a href="/WorldTime/Country/AM">アルメニア</a>では、10月30日に冬時間に移行し、来年の春以降サマータイムを実施しない予定だそうです。そうなるとモスクワと同じUTC+4のタイムゾーンになります。そうする理由としては、もともと地理的にはUTC+3の位置にあり、サマータイムを標準時にすると日の出の時間が冬期には９時を過ぎてしまうようになるのは不便だということのようです。</p>
<p><strong>ブラジルのバイーア州では、サマータイムを実施</strong> 2011/10/10</p>
<p>ブラジルのバイーア州では、2003年にサマータイムを廃止しましたが、2011はサマータイムを実施することになりました。サマータイムを実施する理由としては、経済的に関係の強い南部の諸州と時間を同じにするためだそうです。</p>
<p><strong>ウクライナ、ベラルーシが夏時間を継続</strong> 2011/9/21</p>
<p><a href="/WorldTime/Country/UA">ウクライナ</a>と<a href="/WorldTime/Country/BY">ベラルーシ</a>が、現在の夏時間を冬期も継続し標準時間にすることを決定しました。これは、ロシアが今年サマータイムを廃止したことに対応した処置です。両国は、一年中 UTC+3 のタイムゾーンとなり、日本との時差は6時間になります。また、両国とロシアの時差は一年中1時間です。</p>
<p><strong>ロシアの三地域のタイムゾーンの変更は中止</strong> 2011/9/11</p>
<p>ロシアの三地域のタイムゾーンを変更する提案は、中止になっています。</p>
<p><strong>ロシアのタイムゾーンが一部変更になるかも</strong> 2011/8/22</p>
<p>ロシア政府が、以下の三地域のタイムゾーンを変更する提案をしています。<br /> ・沿海地方（首府：<a href="/WorldTime/Location/Asia/Vladivostok">ウラジオストク</a>）のタイムゾーンをUTC+11からUTC+10に変更<br /> ・サハ共和国（首府：<a href="/WorldTime/Location/Asia/Yakutsk">ヤクツーク</a>）のタイムゾーンをUTC+10で統一<br /> ・<a href="/WorldTime/Location/Asia/Irkutsk">イルクーツク</a>州のタイムゾーンをUTC+10からUTC+9に変更<br /> 確かに<a href="/WorldTime/Location/Asia/Vladivostok">ウラジオストク</a>は、日本の岡山とほぼ同じぐらいの経度で、2時間も時間が早くなっています。このままだと、12月1日の日の出は9時23分、日の入りは18時38分です。朝、子供が懐中電灯を持って通学しないといけなくなりますが、できればそういうことは避けたいことなので、タイムゾーンを変更するというのも当然のことだと思います。</p>
<p><strong>サモアが時間帯を変更して日付変更線の西側へ</strong> 2011/5/10</p>
<p>サモア政府が、今年の12月29日に時間帯を国際日付変更線の西側に移動させる予定であると発表しました。サモアの現在の主要な貿易相手国は、オーストラリアやニュージーランドになっており、日付変更線を挟んでいるため約1日の時差があることから、サモアの金曜日にはニュージーランドでは土曜日で休日になり、オーストラリアの月曜日にはサモアでは日曜日で休日になっていて無駄になってたので貿易促進のため必要な措置だということです。サモアは、現在はUTC-11の時間帯にあり世界で一日が始まる最も遅い国でしたが、UTC+13の時間帯に変更になるとサマータイム時には世界で最も早く一日が始まる国となります。米領サモアは現在のタイムゾーンでとどまるため、元旦や誕生日を世界で最も早く一日が始まるサモアで祝い、米領サモアに飛んでまたもう一度元旦や誕生日のお祝いができるようになるので観光促進も期待しているようです。</p>
<p><strong>エジプトがサマータイムを廃止</strong> 2011/4/20</p>
<p>エジプトでは、4月29日からサマータイムになる予定でしたが、今年からサマータイム制度を廃止することが決定されました。サマータイムは国民に不評で、また、最近の研究ではあまり省エネに役立っていないという結果が出たためということです。</p>
<p><strong>ロシアが一年中サマータイムを採用することから周辺諸国でもサマータイムを見直し</strong> 2011/4/8</p>
<p>ロシアでは今年からサマータイムを冬時間に戻すのをやめて1年中サマータイムになるため、周辺国ではそれにあわせてサマータイムの見直しが行われています。<br /> ウクライナ：サマータイムを廃止してタイムゾーンをUTC+2からUTC+3に変更予定<br /> ベルラーシ：サマータイムを一年中継続<br /> その他に、アゼルバイジャンやリトアニアでも見直しが検討されています。</p>
<p><strong>フォークランド諸島、試験的にサマータイムを継続</strong> 2011/4/1</p>
<p><a href="/WorldTime/Country/FK">フォークランド諸島</a>では、2011年のサマー タイムが4月17日（日）で終了する予定でしたが、今年は試験的にサマータイムを続けるということです。本国（イギリス）との時差が少なくなるというのも試験をする理由の一つです。</p>
<p><strong>モロッコ、4月3日からサマータイムを開始</strong> 2011/3/30</p>
<p>モ ロッコは、2011年のサマータイムを4月3日から実施すると公表しました。今年のサマータイムの期間は、4月3日（日）から7月30日（土）です。な お、モロッコは、2008年からサマータイムを導入していますが、毎年サマータイムの期間が変更されているので注意が必要です。</p>
<p><strong>チリ、サマータイムを再度延期</strong> 2011/3/28</p>
<p>チリでは、国内のエネルギー危機のため、サマータイムが再度延期となり、4月2日(土）の深夜から、5月7日（土）の深夜になりました。</p>
<p><strong>ロシア、イルクーツク州のタイムゾーンの変更はロシア政府が拒否</strong> 2011/3/16（2011/3/27変更）</p>
<p>イルクーツク州のタイムゾーン（UTC+8）を、クラスノヤルスク時間（UTC+7）に変更にすることについては、ロシア政府が拒否をしたので、3月27日（日）のサマータイムの開始の時に、従来通り時計を1時間進めたということです。</p>
<p><strong>トルコ、サマータイムの開始を１日延期</strong> 2011/3/11</p>
<p>トルコでは、3月27日（日）からサマータイムを開始する予定でしたが、当日が大学入試センター試験のため1日延期されて、3月28日（月）からになりました。</p>
<p><strong>チリ、サマータイムを延期</strong> 2011/3/2</p>
<p>チリでは、国内のエネルギー危機のため、サマータイムから冬時間への変更が3週間延期となり、3月12日(土）の深夜から、4月2日（土）の深夜になりました。</p>
<p><strong>ロシア、今年からサマータイムを冬時間に戻すのをやめる?</strong> 2011/2/8</p>
<p>報道によれば、ロシアでは今年からサマータイムを冬時間に戻すのをやめて1年中サマータイムになるようです。</p>
<p><a rel="nofollow" href="http://themoscownews.com/society/20110208/188402634.html" target="_top">http://themoscownews.com/society/20110208/188402634.html</a><br /> <a rel="nofollow" href="http://www.straitstimes.com/BreakingNews/World/Story/STIStory_632614.html" target="_top">http://www.straitstimes.com/BreakingNews/World/Story/STIStory_632614.html</a></p>
<p><strong>フィジー、サマータイムを開始</strong> 2010/10/26</p>
<p><a href="/WorldTime/Country/FJ">フィジー</a>では、10月24日からサマータイムを実施しています。サマータイムの終了は、3月6日（日）午前3時で、当初の想定より3週間早く終了します。なお、フィジーの時差と現在時刻の画面についても変更しました。</p>
<p><strong>パレスチナ、ラマダンの開始日から冬時間に変更</strong> 2010/8/11</p>
<p><a href="/WorldTime/Country/PS">パレスティナ政府及びガザ政府</a>が、ラマダンの開始日（8/11）から冬時間にするという決定をしました。</p>
<p><strong>エジプト、ラマダンの期間中は冬時間に変更</strong> 2010/8/8</p>
<p><a href="/WorldTime/Country/EG">エジプト</a>では、ラマダンの期間中は、冬時間になるそうです。冬時間になる期間は、8月11日（水）から 9月9日（木）までで、9月10日（金）からは、またサマータイムを実施するそうです。なお、記事により開始日と終了日が違うので実際に関係する場合は要確認です。（ <a href="http://www.travelvision.jp/modules/news1/article.php?storyid=45734"> 記事</a>）</p>
<p><strong>サモア、サマータイムを導入</strong> 2010/7/27（8/8 修正）</p>
<p><a href="/WorldTime/Country/WS">サモア</a>が2010年-2011年に初めてサマータイムを導入する予定です。サマータイムの期間は、9月26日から4月3日まで（ <a href="http://www.sits.ws/Home/tabid/1306/mid/6724/newsid6724/175/Samoas-Daylight-Saving-Starts-in-September-2010/language/en-NZ/Default.aspx"> 記事）</a>です。サモアのような低緯度の国でサマータイムを導入するのはどうかと思うのですが。なお、アメリカ領サモアは、サマータイムを導入しません。</p>
<p><strong>モロッコのサマータイムの導入</strong> 2010/4/12</p>
<p><a href="/WorldTime/Country/MA">モロッコ</a>が2010年は、5月2日から8月8日までサマータイムを実施します。なお、モロッコは、2008年からサマータイムを導入していますが、毎年サマータイムの期間が変更されているので注意が必要です。</p>
<p><span><strong>メキシコ バイーアデバンデラスのタイムゾーンの変更</strong> 2010/4/7<strong><br /> </strong></span></p>
<p><a href="/WorldTime/Country/MX">メキシコ</a>の ナヤリット州にあるバイーアデバンデラス（Bahía de Banderas）が、2010年4月4日からタイムゾーンを山岳部時間（UTC-7）から中部時間（UTC-6）に変更します。バイーアデバンデラス は、ハリスコ州のプエルトバラータ（Puerto Vallarta）に隣接しており両者でリゾート地帯を形成しているので、タイムゾーンを同一にして旅行者等に利便をはかるためだそうです。</p>
<p><strong>アルゼンチン サンルイス州のサマータイムの継続</strong> <span>2010/4/7</span></p>
<p><span>アルゼンチンの <a href="/WorldTime/Location/America/Argentina/San_Luis">サンルイス州</a>は、サマータイムを2010年4月8日以降も継続します。サンルイス州はアルゼンチンで唯一UTC-4の時間帯を採用しており、サマータイムを継続することでアルゼンチンの他の州と実質的に同じ時間帯に属することになります。</span></p>
<p><span><strong>パキスタンがサマータイムの実施を中止</strong> 2010/3/30</span></p>
<p><a href="/WorldTime/Country/PK">パキスタン</a>では、2010年４月１日から１０月３１日までの間サマータイムを実施する予定でしたが中止になりました。</p>
<p><strong>バングラデシュがサマータイムの実施を中止</strong> 2010/3/24</p>
<p><a href="/WorldTime/Country/BD">バングラデシュ</a>では、2010年3月31日からサマータイムを実施する予定でしたが中止になりました。2009年には初めてサマータイムを採用しましたが、いつ時間を戻すかが決められていなくて、結局１２月３１日深夜にサマータイムから標準時間に戻ったという経緯があります。</p>
