else
    { Layout = "_UcLayout300"; }
    ViewBag.Title = ViewBag.Header = "世界の国の数";
}
<p>国の数はいくつあるのかと調べてみました。<a href="http://www.mofa.go.jp/mofaj/comment/faq/area/country.html">外務省のよくある質問集</a>では、196カ国になっています。日本が承認している国195カ国＋日本で196カ国ということです。なお、最近日本が承認した国には、2015年5月にニウエ、2011年7月に南スーダン、2011年3月にクック諸島があります。</p>
<p>しかし、よく考えてみると、ニウエ、クック諸島や台湾やコソボを国と考えるかどうかで国の数は違ってくるので、単純な答えはないのでないかと思っています。国の数を一応整理してみると</p>
<h5>1. 国際的に多くのの国から承認された国家　194カ国</h5>
<p>・国連加盟国　193カ国（南スーダンが2011年7月14日に加盟承認されました）<br /> ・国連加盟国ではないが多くの国が承認しているバチカン</p>
<p>なお、日本の外務省の国の数には、コソボ、クック諸島及びニウエが含まれている一方、国連加盟国である北朝鮮は日本が承認していないので除外されています。</p>
<h5>2. 国際的に多くの国から承認されていない国家 12地域</h5>
<p>国の数を数える場合は、これらの国の取り扱いが難しいです。</p>
<p>・台湾<br /> ・コソボ<br /> ・パレスチナ<br /> ・西サハラ（モロッコが領有を主張して大半を実効支配している）<br /> ・クック諸島、ニウエ（ニュージーランドと自由連合制をとり、主権国家と同等の内政を行い、独自の外交も可能。）<br /> ・事実上独立した地域<br /> ソマリランド（ソマリア北部）、アブハジア（グルジアの西端）、南オセチア（グルジアの北部）、沿ドニエストル共和国（モルドバの東部）、ナゴルノ・カラバフ（アゼルバイジャンの西部）、北キプロス</p>
<h5>3. 海外領土・自治領</h5>
<p><a href="http://www.iso.org/iso/country_codes.htm" target="_blank">ISO 3166により定義されたカントリーコード</a>は、 249の国・地域で定義されています。１.の194カ国、２.の台湾、西サハラ、パレスチナ、クック諸島、ニウエの 5地域の外に 50の地域が定義されています。南スーダンは、2011年8月9日に定義されました。</p>
<p>50の地域には、南極のように無人またはごく少数の一般住民しかいない地域が7地域あるためそれらの地域を除くと43の地域があります。なお、フランス領の5つ（レユニオン、グアドループ、マルティニーク、フランス領ギアナ、マヨット）はフランスの海外県ならびに海外地域圏であり、行政的には海外領土ではなくなっています。</p>
<p>ノーフォーク島、クリスマス島、ココス諸島（オーストラリア領 3地域）<br /> グリーンランド、フェロー諸島（デンマーク領 2地域）<br /> レユニオン、グアドループ、マルティニーク、フランス領ギアナ、マヨット（フランスの海外県 5地域）<br /> フランス領ポリネシア、ニューカレドニア、ワリス・フュチュナ、サンピエール・ミクロン、サン・マルタン島、サン・バルテルミー島（フランス領 6地域）<br /> アルバ、キュラソー、シント・マールテン、ボネール島・シント・ユースタティウス島・サバ島（オランダ領 4地域）<br /> トケラウ諸島（ニュージーランド領）<br /> ジャージー、ガーンジー、マン島（イギリス王室属領 3地域）<br /> バミューダ諸島、ケイマン諸島、ジブラルタル、タークス・カイコス諸島、イギリス領ヴァージン諸島、アンギラ、セントヘレナ・アセンション及びトリスタン・ダ・クーニャ、モントセラト、フォークランド諸島、ピトケアン諸島（イギリス領 10地域）<br /> プエルトリコ、グアム、アメリカ領ヴァージン諸島、北マリアナ諸島、アメリカ領サモア（アメリカ領 5地域）<br /> オーランド諸島（フィンランド領 1地域）<br /> スバールバル諸島（ノルウェー領 1地域）<br /> 香港、マカオ（中華人民共和国領 2地域）</p>
<p>・無人又はごく少数の一般住民しかいない地域（7地域）</p>
<p>南極<br /> イギリス領インド洋海域<br /> 南ジョージア島・南サンドイッチ諸島（イギリス領）<br /> アメリカ領太平洋諸島<br /> フランス領南方・南極海域<br /> ブーベ島（ノルウェー領）<br /> ヘアド島・マクドナルド諸島（オーストラリア領）</p>
<p>また、 <a href="http://www.iana.org/domains/root/db/" target="_blank">カントリーコードに基づくトップレベルドメイン</a>を独自に持つ地域が1地域ある。<br /> アセンション島 （行政的にはセントヘレナに含まれる）(イギリス領)</p>
<p>一部の機関で使用されているため <a href="http://www.iso.org/iso/iso-3166-1_decoding_table" target="_blank">カントリーコードがリザーブされている地域</a>が5地域ある。<br /> ディエゴガルシア、トリスタン・ダ・クーニャ島（行政的にはセントヘレナに含まれる）（イギリス領）<br /> クリッパートン島（フランス領）<br /> カナリア諸島、セウタ・メリリャ（スペイン領）</p>
<p>CIAの <a href="https://www.cia.gov/library/publications/the-world-factbook/index.html" target="_blank">THE WORLD FACTBOOK</a>は、世界の国家、属領その他の地域についての地理、人口、政治、経済、通信軍事のデータを提供しており、一般でもしばしば使われている。そこでは、アクロティリ、デケリア（英領）が地域とされている。また、地域のデータには以上で説明した以外に数個の無人島が含まれている。</p>
