<p>公開している情報については充分に注意しているつもりですが、入力ミス、プログラムミス、翻訳ミス等により誤った情報を表示している可能性があります。そのために利用者の方が何らかの損害を被った場合でも一切責任を負えませんので、利用者の責任においてこのウェブサイトをご利用ください。</p>
<h2>プライバシーポリシー</h2>
<p>当サイトの運営に際し、利用者のプライバシーを尊重し個人情報に対して十分な配慮を行うと共に大切に保護し、適正な管理を行うことに努めております。</p>
<p><strong>1. 個人情報利用目的</strong><br>利用者の個人情報は、原則として、当サイトのサービスに関する情報をご提供する目的のために利用致します。それ以外の目的で利用する場合は個人情報をご提供いただく際に予め目的を明示しておりますのでご確認下さい。</p>
<p><strong>2. 第三者への情報提供</strong><br>利用者の個人情報は、法令により開示を求められた場合を除き第三者に開示、提供、譲渡することは致しません。</p>
<p><strong>3. クッキー及びウェブビーコンの利用</strong><br>当サイトではクッキー(Cookie)及びウェブビーコンを利用しております。クッキー等を使用する目的は以下のとおりで、利用者のプライバシーを侵害するものではありません。</p>
<ul>
  <li>本サイトを利用する利用者数を計るため(アクセス解析)</li>
  <li>利用者に適した広告の掲載</li>
</ul>
<p><strong>4. クッキーの無効化</strong><br>ブラウザの設定を変更すると、クッキーの受け入れを拒否できます。また、ブラウザのクッキー・フォルダに保存されているクッキーを削除することもできます。ただし、クッキーを無効化したり削除すると、当サイトで一部の機能が使用できなくなることがあります。</p>
<p><strong>5. Google AdSense に関する追記</strong><br>当サイトでは、Google 社の AdSense の広告を配信しております。そのため、第三者が利用者のブラウザに Cookie を保存し使用する可能性があります。または広告配信時にウェブビーコンを使用して情報を収集する可能性があります。利用者は <a href="https://adssettings.google.com/" rel="noopener" target="_blank">広告設定ページ</a>で Google 広告 Cookie を使用しないよう設定できます。</p>
<p><strong>6. Google Analytics に関する追記</strong><br>当サイトでは Google アナリティクス(GA4)を利用してアクセス状況を計測しています。収集されるデータは個人を特定できない情報であり、利用者のプライバシーを侵害するものではありません。Cookie の使用を無効にすることにより、データの収集対象から除外することができます。</p>
<p><strong>7. 適用範囲</strong><br>本プライバシーポリシーは当サイト内にのみ適用されます。当サイトからリンクの張られている他のサイトでの個人情報保護については一切の責任を負いません。</p>
